

<h1>Contacts Directory</h1>

<div>
  <button id="showOne">Search by ID</button>
  <button id="contactSearch">Search by Name/Email</button>
  <button id="newContact">Add New Contact</button>
  <button id="showAll">See All Contacts</button>
  <button id="diversionButton">Diversion!</button>
</div>

<!-- Form: add new contact -->
<fieldset class="hidden" id="newContactForm">
  <legend>Add New Contact</legend>
  <input type="text" id="firstname" placeholder="First Name"><br>
  <input type="text" id="lastname" placeholder="Last Name"><br>
  <input type="text" id="email" placeholder="Email"><br>
  <button id="addPerson">Add Contact</button><br>
</fieldset>

<!-- Form: search for a contact by name/email -->
<fieldset class="hidden" id="newSearchForm">
  <legend>Search For A Contact By Name</legend>
  <input type="text" id="nameOrEmail" placeholder="Name or Email"><br>
  <button id="searchName">Search</button><br>
</fieldset>

<!-- Form: search for a contact by ID -->
<fieldset class="hidden" id="newIdSearchForm">
  <legend>Search For A Contact By ID</legend>
  <input type="integer" id="id" placeholder="Contact ID"><br>
  <button id="searchId">Search</button><br>
</fieldset>

<!-- The table that displays the contacts -->
<table class="hidden" id="people">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<!-- Section that shows an Instagram slideshow (carousel)-->
<div id="carousel-example-generic slideshow" class="carousel slide" data-ride="carousel" data-interval="2000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" id="showingPicture" role="listbox">
    <!-- Data from application.js file (the photos) populated here -->
  </div>
</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<!-- TODO: 
- new contact appears at the bottom when added
- form resets when 'Add Contact' button is pushed
- search for contact by name
- search for contact by email
- add 'clear' button to add contact, search ID, and search name forms
- table header appears at different speed than table data
- have a delete button beside each contact?
- fix all-contacts where it doesn't clear (just keeping adding duplicate contacts)
- format using CSS/bootstrap -->
