<h1>Contacts</h1>

<div>
  <ul id="menu">
    <li><a href="/" id="newContact">New Contact</a></li>
    <li><a href="/" id="showAll">List All Contacts</a></li>
    <li><a href="/" id="showOne">Show A Contact (search by ID)</a></li>
    <li><a href="/" id="contactSearch">Search For A Contact</a></li>
  </ul>
</div>

<button id="see_contacts">See Contacts</button>

<div id="results">
  <table id="people">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
